.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin-top: 2rem;
  background: var(--gray-800);
}

.footer-social-icons .link {
  color: white;
  margin-left: 12px;
}

.footer-social-icons .link i {
  font-size: 20px;
}
